@import "../../assets/style/variables.scss";
.admin{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .sideBar{
        width: $sideBarWidth;
        position: fixed;
        left: 0;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        background-image: url("./img/sidebar.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        .sideBarContent{
            background-color: rgba(0, 0, 0, 0.77);
            width: 100%;
            height: 100%;
            .logo{
                display: flex;
                overflow: hidden;

                align-items: center;
                padding: 0 15px;
                height: 64px;
                font-size: 18px;
                color: #fff;
                img{
                    margin-right: 10px;
                    width: 35px;
                    height: 35px;
                }
            }
            .dividingLine{
                display: block;
                overflow: hidden;
                width: 86%;
                height: 1px;
                margin: 0 auto;
                background-color: #717171;
            }
            .navLink{
                .itemLink{
                    width: auto;
                    transition: all .6s linear;
                    margin: 10px 15px 0;
                    border-radius: 3px;
                    position: relative;
                    display: flex;
                    padding: 10px 15px;
                    color: #fff;
                    background-color: transparent;
                }

            }


        }
    }
    .container{
        float: right;
        width: calc(100% - #{$sideBarWidth});
        min-height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
